body{
    margin: 0;
    padding: 0;
}
#upper-section{
    border: 1px solid black;
    min-height: 800px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-repeat: no-repeat;
    
}